<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tw.com.verybuy.tappay">
    <queries>
        <package android:name="jp.naver.line.android" />
    </queries>
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />
</manifest>
